.fundraiser-card {
    margin-bottom: 20px;
    min-width: 100%;
    font-size: 18px;
}

.bold-highlight {
    font-weight: 600;
    color: #f50057;
}

.view-fundraiser-button {
    padding: 5px 40px;
    float: right;
}

.view-fundraiser-button:hover {
    background-color: #f50057;
    color: #fff;
}
