body {
  color: #333;
}

.app-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.center-header {
  text-align: center;
}

button {
  box-shadow: none;
  outline: none;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  color: #f50057;
  border: solid #f50057;
  width: max-content;
  padding: 5px 10px;
  transition: 0.25s ease-in-out;
}

button:hover {
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: #B1C1C9 !important;
  cursor: not-allowed;
}

.modal-content button {
  font-size: 16px;
}

.fundraiser-controls button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.loading-overlay-root {
  overflow: auto;
  min-height: 100vh;
}

.close-modal-button {
  border-color: #fff;
  color: #333;
}

.simple-button {
  color: #333333;
  border-color: #333333;
  display: block;
}

.simple-button:hover {
  color: #fff;
  background-color: #333333;
}

.close-modal-button:hover {
  border-color: #333;
}

.submit-modal-button:hover {
  background-color: #f50057;
  color: #fff;
}

.full-width {
  width: 100%;
}

.modal-content {
  border-radius: 0;
}
.modal-backdrop.show {
  opacity: .3;
}

.modal-header {
  border-color: #f50057;
}

.modal-body {
  padding: 20px 50px;
  font-size: 20px;
  word-break: break-word;
}

.modal-body p {
  margin-bottom: 5px;
}

.modal-label {
  font-weight: 600;
  margin: 0;
  font-size: 20px;
}

.modal-input, .form-control {
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 2px solid #4C4C4C;
  width: 100%;
  margin: 0 auto;
}

.margin-top-s {
  margin-top: 15px;
}

.modal-title {
  font-weight: 600;
  color: #333333;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #4C4C4C;
}

.modal-footer {
  border: none;
}

._loading_overlay_overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.bold-highlight {
  font-weight: 600;
  color: #f50057;
}

.bold-highlight.grey {
  color: #333333;
}

.toast {
  flex-basis: unset;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  align-content: center;
  font-family: unset !important;
  align-items: center;
  justify-content: center;
}

.toast-error {
  background-color: #f50200 !important;
}

.toast-success {
  background-color: #009a00 !important;
}

@media(max-width: 576px) {
  .modal-body {
    padding: 10px 20px;
  }

  .toast {
    font-size: 14px;
  }
}
